<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>877939628901-6sqcm6kpmfeoav2pbv4m6hqf7coitbov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877939628901-6sqcm6kpmfeoav2pbv4m6hqf7coitbov</string>
	<key>API_KEY</key>
	<string>AIzaSyDir4CkyKX7W6Frcsi9bH3qDDRsxtqzqZI</string>
	<key>GCM_SENDER_ID</key>
	<string>877939628901</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.BartoszPawelczyk.PickUp</string>
	<key>PROJECT_ID</key>
	<string>pickup-7e683</string>
	<key>STORAGE_BUCKET</key>
	<string>pickup-7e683.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877939628901:ios:95bd70a98334e466</string>
	<key>DATABASE_URL</key>
	<string>https://pickup-7e683.firebaseio.com</string>
</dict>
</plist>